*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background-color: blueviolet;
}
.container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 15px;
    width: 360px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    
}
.card img{
    width: 120px;
    box-shadow: 0px 0px 0px 2px purple;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 120px;
}
.content{
    padding: 15px;
}
h3{
    text-align: center;
    color: purple;
    margin-bottom: 10px;
}
#star{
    text-align: center;
    color: purple;
    margin-left: 70px 0;
    margin-bottom: 15px;
    text-align: center;
}
.container .card p{
    text-align: justify;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
}
.card a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 0px 0px 0px 2px purple;
    border-radius: 2px;
    padding: 9px;
    color: purple;
    display: inline-block;
    width: 155px;
    text-align: center;
}
button{
    font-size: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 0px 0px 0px 2px purple;
    border-radius: 2px;
    padding: 9px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    background: purple;
    width: 155px;
    cursor: pointer;
}