*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Sundanese", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body{
    background: #fff;
}
.container{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 400px;
}
.card{
    display: inline-block;
    width: 260px;
    height: 400px;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: 160px;
}
.content #t1{
    text-align: center;
    font-size: 10px;
    line-height: 1.3;
    font-weight: 600;
    border-radius: 30px;
    background-color: rgb(114, 155, 244);
    width: 85px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}
.content #t2{
    text-align: center;
    font-size: 10px;
    line-height: 1.3;
    font-weight: 600;
    border-radius: 30px;
    background-color: purple;
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}
.content #t3{
    text-align: center;
    font-size: 10px;
    line-height: 1.3;
    font-weight: 600;
    border-radius: 30px;
    background-color: green;
    width: 55px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}
.content h1{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}
.content #info{
    font-size: 11px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
}
.content #p1{
    border-radius: 100px;
    margin-top: 35px;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    object-fit: cover;
    float: left;
}
.content #p2{
    border-radius: 100px;
    margin-top: 35px;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    object-fit: cover;
    float: left;
}
.content #p3{
    border-radius: 100px;
    margin-top: 65px;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    object-fit: cover;
    float: left;
}
.content #name1{
    font-size: 11px;
    text-align: justify;
    margin-top: 35px;
    margin-bottom: 2px;
}
.content #time1{
    font-size: 11px;
    color: rgb(95, 95, 95);
}
.content #name2{
    font-size: 11px;
    text-align: justify;
    margin-top: 35px;
}
.content #time2{
    font-size: 11px;
    color: rgb(95, 95, 95);
}
.content #name3{
    font-size: 11px;
    text-align: justify;
    margin-top: 65px;
    margin-bottom: 2px;
}
.content #time3{
    font-size: 11px;
    color: rgb(95, 95, 95);
}
